<%= link_to(image_tag(team.logo_url(:small)), team) %>
<div class="meta">
  <div class="title"><%= link_to team.name, team %></div>
  <div><%= team.city %></div>
  <div class="link"><%= format_team_link(team) %></div>
</div>
