<h2 class="page-header">User Profile</h2>

<%= image_tag(@user.avatar_url(:thumbnail), :height => 50, :width => 50, :style => "float: left; margin-right: 10px;") %>

<%= @user.name %>

<%= render :partial => "follow_button", :locals => {:target => @user } %>

<%= link_to("Edit", edit_user_path(@user), :class => "btn") if can? :edit, @user %>
