<p><%= @invitation.creator.name %> has invited you to claim ownership of the BigShot player known as
<%= @invitation.target.name %> (<%= @invitation.target.team.name %> #<%= @invitation.target.jersey_number %>).
</p>

