<p><%= @invitation.creator.name %> vous invite a devenir un fan de 
<%= @invitation.target.name %> (#<%= @invitation.target.jersey_number %>)
de l'equipe des <%= @invitation.target.team.name %> sur le site BigShot.</p>
