<%
    cols = [:name, :rank,
            :num_games_played, :num_victories, :num_defeats, :num_overtime_and_shootout_defeats,
            :num_goals_scored, :num_goals_yielded, :points]
    stats = @tournament.teams.map {|team| Stats::Team.new(team, @tournament.games) }.sort_by {|obj| obj.points }.reverse
    last_points = 0
    last_rank = 1
%>

<p class="text-right">
  <%= link_to(t("actions.edit"), edit_tournament_teams_path(@tournament), :class => "btn btn-default") if can? :edit, @tournament %>
</p>

<table class="team-stats table table-striped table-bordered table-responsive">
  <%= format_header(cols, "stats.teams") %>

  <tbody>
    <% stats.each_with_index do |stat, index| %>
      <%= format_row(stat, cols) do |method, stat|
          case method
          when :rank
            if stat.points == last_points
              last_rank
            else
              last_rank = index + 1
            end
          when :name
            link_to(image_tag(stat.team.logo_url(:thumbnail)), stat.team) +
              link_to(content_tag(:div, content_tag(:div, stat.team.name) + content_tag(:div, stat.team.city)), stat.team)
          end
        end
      %>
      <% last_points = stat.points %>
    <% end %>
  </tbody>
</table>
