<div class="well">
  <h3>Admin Control Panel</h3>
  <ul>
    <li>Manage <%= link_to "Leagues", leagues_path %></li>
    <li>Manage <%= link_to "Locations", locations_path %></li>
    <li>Manage <%= link_to "Tournaments", tournaments_path %></li>
    <li>Manage <%= link_to "Kiosk Mode", admin_kiosk_path %></li>
  </ul>
</div>
