<div class="admin panel panel-default">
  <div class="panel-heading">Admin Control Panel</div>
  <ul class="list-group">
    <li class="list-group-item">Manage <%= link_to "Leagues", leagues_path %></li>
    <li class="list-group-item">Manage <%= link_to "Locations", locations_path %></li>
    <li class="list-group-item">Manage <%= link_to "Tournaments", tournaments_path %></li>
    <li class="list-group-item">Manage <%= link_to "Kiosk Mode", admin_kiosk_path %></li>
  </ul>
</div>
