<% if Location.managed_by(current_user).any? %>
  <div class="well">
    <h3>Arenas you manage</h3>
    <ul>
      <% Location.managed_by(current_user).each do |location| %>
        <li><%= link_to location.name, location %></li>
      <% end %>
    </ul>
  </div>
<% end %>
