<%= render :partial => "welcome" %>

<div class="row">
  <div class="col-md-6">
    <div class="well">
      <%= render :partial => "mini_sign_up" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well" style="min-height: 230px;" >
      <%= render :partial => "mini_sign_in" %>
    </div>
  </div>
</div>
