<%= render :partial => "welcome" %>

<div class="vimeo-container">
  <iframe src="//player.vimeo.com/video/89355487" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="well">
      <%= render :partial => "mini_sign_up" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well" style="min-height: 230px;" >
      <%= render :partial => "mini_sign_in" %>
    </div>
  </div>
</div>
