<% current_user.players.each do |player| %>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="player tile">
      <div class="pull-left"><%= link_to(image_tag(player.photo_url(:thumbnail)), player) %></div>
      <div class="meta">
        <p class="name"><%= link_to(player.name, player) %></p>
        <p><%= link_to("##{player.jersey_number} - #{player.team.name}", player) %></p>
      </div>
    </div>
  </div>
<% end %>
