<% current_user.players.each do |player| %>
  <div class="well">
    <h3 class="text-center"><%= link_to(player.name, player) %></h3>
    <div class="player-box-small">
      <div><%= link_to(image_tag(player.photo_url(:small)), player) %></div>
      <div><%= link_to("##{player.jersey_number} - #{player.team.name}", player) %></div>
    </div>
  </div>
<% end %>
