<% if Player.for_user(current_user).any? %>
  <% Player.for_user(current_user).each do |player| %>
    <div class="page-header">
      <h2><%= player.team.name %> <small>You're a member of this team</small></h2>
    </div>
  <% end %>
<% end %>

