<% if Team.managed_by(current_user).any? %>
  <% Team.managed_by(current_user).each do |team| %>
    <h2 class="page-header"><%= link_to team.name, team %> <small>You manage this team</small></h2>
    <%= render :partial => "games", :locals => {:games => Game.for_team(team) } %>
  <% end %>
<% end %>
