<% if Team.managed_by(current_user).without_deleted.any? %>
  <div class="well">
    <h3><%= t(".teams_you_manage") %></h3>
    <ul>
      <% Team.managed_by(current_user).without_deleted.each do |team| %>
        <li><%= link_to team.name, team %></li>
      <% end %>
    </ul>
  </div>
<% end %>
