<% if Player.for_user(current_user).without_deleted.any? %>
  <% Player.for_user(current_user).map(&:team).each do |team| %>
    <h2 class="page-header"><%= link_to team.name, team %> <small>You're a member of this team</small></h2>
    <%= render :partial => "games", :locals => {:games => Game.for_team(team) } %>
  <% end %>
<% end %>

