<% if TeamMembership.for_user(current_user).any? %>
  <% TeamMembership.for_user(current_user).each do |team_membership| %>
    <div class="page-header">
      <h2><%= team_membership.team.name %> <small>You're a member of this team</small></h2>
    </div>
  <% end %>
<% end %>

