<h1><%= t(".header") %></h1>

<div class="vimeo-container">
  <iframe src="//player.vimeo.com/video/89355487" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
