<h2>Already accepted</h2>

<p>Oops! The invitation you're responding to has already been accepted. If you believe this is an error, please contact the sender.</p>

<%= link_to "Continue", root_path, :class => "btn" %>
