<h2>Please confirm</h2>

<p>You are about to accept an invitation that was sent to <%= @invitation.email %>.
However, the email address associated with your account (<%= current_user.email %>) is different.</p>

<p>Are you sure you want to accept this invitation?</p>

<div class="actions">
  <%= link_to "Yes, accept", accept_invitation_path(@invitation, :confirm => true), :class => "btn btn-primary" %>
  <%= link_to "No, don't accept", root_path, :class => "btn" %>
</div>
