<h2>Player: <%= @player.name %>
  <%= render partial: "follow_button", locals: { target: @player } %>
</h2>

<h3>Team: <%= @player.team.name %></h3>

<div>
  <%= cl_image_tag(@player.photo.url(:small)) %>
</div>

<% link_to "Edit", edit_player_path(@player), :class => "btn" if can?(:edit, @player) %>

