.replies .feed-item {
  border-bottom: none;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

.video.modal {
  video {
    width: 100%;
  }
  .modal-content {
    background-color: #363636;
  }
  .close {
    color: white;
    opacity: .7;
    position: absolute;
    right: 5px;
    top: 0px;
    &:hover {
      opacity: 1;
    }
  }
}

p.videos {
  line-height: 100px;
}

.video-thumb {
  margin-right: 10px;
  display: inline-block;
  position: relative;
  &:before {
    content: image-url("play-button.png");
    position: absolute;
    z-index: 100;
    opacity: .5;
          transition: opacity .25s;
     -moz-transition: opacity .25s;
  -webkit-transition: opacity .25s;
    left: 53px;
    top: 19px;
  }
}

.video-thumb:hover:before {
  opacity: 1.0;
          transition: opacity .5s;
     -moz-transition: opacity .5s;
  -webkit-transition: opacity .5s;
}

.feed-item {
  position: relative;
  padding: 5px 5px 5px 60px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px solid #ccc;

  &.owner {
    background-color: #ddd;
    border-radius: 3px;
  }

  .replies {
    margin-top: 15px;
  }

  .reply-link {
    opacity: 0.5;
  }

  &:hover {
    .reply-link {
      opacity: 1.0;
    }
  }

  img.avatar {
    position: absolute;
    top: 5px;
    left: 5px;
  }

  .creator {
    font-weight: bold;
  }

  p {
    margin-bottom: 2px;
  }

  form {
    display: none;
    margin-top: 10px;
    margin-bottom: 0px;
  }
}

ul#feed-items {
  list-style-type: none;
  margin-left: 0px;
}

