.replies .feed-item {
  border-bottom: 1px solid #eee;
  margin-bottom: 0px;
  padding-bottom: 5px;
  min-height: 60px;
}

.replies .feed-item:last-child {
  border-bottom: none;
}

.video.modal {
  video {
    width: 100%;
  }
  .modal-content {
    background-color: #363636;
  }
  .close {
    color: white;
    opacity: .7;
    position: absolute;
    right: 5px;
    top: 0px;
    &:hover {
      opacity: 1;
    }
  }
}

p.videos {
  line-height: 100px;
}

.video-thumb {
  margin-right: 10px;
  display: inline-block;
  position: relative;
  &:before {
    content: image-url("play-button.png");
    position: absolute;
    z-index: 100;
    opacity: .5;
          transition: opacity .25s;
     -moz-transition: opacity .25s;
  -webkit-transition: opacity .25s;
    left: 53px;
    top: 19px;
    height: 64px;
  }
}

.video-thumb:hover:before {
  opacity: 1.0;
          transition: opacity .5s;
     -moz-transition: opacity .5s;
  -webkit-transition: opacity .5s;
}

.feed-item {
  position: relative;
  padding: 0px 5px 10px 60px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px solid #ccc;

  &:last-child {
    border-bottom: none;
  }

  &.owner {
    background-color: #ddd;
    border-radius: 3px;
  }

  .replies {
    margin-top: 15px;
  }

  .reply-link {
    opacity: 0.5;
    margin-right: 5px;
    text-decoration: none;
  }

  &:hover {
    .reply-link {
      opacity: 1.0;
    }
  }

  img.avatar {
    position: absolute;
    left: 5px;
  }

  .creator {
    font-weight: bold;
  }

  p {
    margin-bottom: 2px;
  }

  form {
    display: none;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .share-links {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.2;
  }

  .twitter-share-button {
    position: relative;
    top: 5px;
  }
  .fb-share-button {
    display: inline-block !important;
    width: auto !important;
    position: relative;
    top: 2px;
  }
}

ul#feed-items {
  list-style-type: none;
  margin-left: 0px;
}

