.replies .feed-item {
  border-bottom: none;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

.feed-item {
  position: relative;
  padding: 5px 5px 5px 60px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px solid #ccc;

  &.owner {
    background-color: #ddd;
    border-radius: 3px;
  }

  .replies {
    margin-top: 15px;
  }

  .reply-link {
    opacity: 0.5;
  }

  &:hover {
    .reply-link {
      opacity: 1.0;
    }
  }

  img.avatar {
    position: absolute;
    top: 5px;
    left: 5px;
  }

  .creator {
    font-weight: bold;
  }

  p {
    margin-bottom: 2px;
  }

  .videos {
    img {
      margin-right: 10px;
      margin-top: 10px;
      opacity: 0.8;
      transition: opacity 1s;
      -moz-transition: opacity 1s;
      -webkit-transition: opacity 1s;
    }
    img:hover {
      opacity: 1.0;
      transition: opacity .25s;
      -moz-transition: opacity .25s;
      -webkit-transition: opacity .25s;
    }
  }

  form {
    display: none;
    margin-top: 10px;
    margin-bottom: 0px;
  }
}

ul#feed-items {
  list-style-type: none;
  margin-left: 0px;
}

