span#game-clock, span#game-period {
  background-color: black;
  color: lightgreen;
  padding: 11px 19px;
  font-size: 35px;
  line-height: 36px;
  border: 1px solid grey;
  position: relative;
  top: 9px;
}


@-webkit-keyframes whitePulse {
  from { color: #D6D9D6; }
  25% { color: white; }
  75% { color: white; }
  to { color: #D6D9D6; }
}

#game-start {
  -webkit-animation-name: whitePulse;
  -webkit-animation-duration: 1.75s;
  -webkit-animation-iteration-count: infinite;
}

#start-stop-clock {
  text-align: center;
  a {
    width: 28px;
  }
  margin-bottom: 10px;
}

.team-name {
  font-variant: small-caps;
}

@mixin border-radius($radius: 1px) {
      -webkit-border-radius: $radius;
         -moz-border-radius: $radius;
              border-radius: $radius;
}

.score {
  background-color: black;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  @include border-radius(5px);
}

.disclosure {
  cursor: pointer;
  i {
    min-width: 14px;
    display: inline-block;
    text-align: center;
  }
}

table.penalties {
  tr.completed {
    display: none;
  }
  tr.running, tr.paused {
    a {
      display: none;
    }
  }
}

table.players, table.staff-members {
  margin-bottom: 10px;
  select {
    width: 150px;
    position: relative;
    top: 7px;
    margin-left: 10px;
  }
}

.penalty-editor {
  .penalty-player {
    font-size: 0px;

    input {
      display: none;
    }

    label {
      font-weight: bold;
      font-size: 16px;
      min-width: 24px;
      padding: 10px;
    }

    input:checked + label {
      background-image: none;
      background-color: #0044CC;
      color: white;
    }
  }
}

