span#game-clock {
  background-color: black;
  color: lightgreen;
  padding: 11px 19px;
  font-size: 35px;
  line-height: 36px;
  border: 1px solid grey;
  position: relative;
  top: 9px;
}


#start-stop-clock {
  text-align: center;
  a {
    width: 28px;
  }
  margin-bottom: 10px;
}

.team-name {
  font-variant: small-caps;
}

@mixin border-radius($radius: 1px) {
      -webkit-border-radius: $radius;
         -moz-border-radius: $radius;
              border-radius: $radius;
}

.score {
  background-color: black;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  @include border-radius(5px);
}

.disclosure {
  cursor: pointer;
  i {
    min-width: 14px;
    display: inline-block;
    text-align: center;
  }
}

table.penalties {
  tr.completed {
    display: none;
  }
  tr.running, tr.paused {
    a {
      display: none;
    }
  }
}

table.players {
  select {
    width: 150px;
    position: relative;
    top: 7px;
  }
}
