table.team-stats {
  td.name {
    white-space: nowrap;
    overflow: hidden;
    min-width: 150px;

    img {
      float: left;
      margin-right: 10px;
      width: 75px;
    }
  }

  td {
    vertical-align: middle;
  }

  th:not(.name) {
    text-align: right;
  }

  td:not(.name) {
    width: 20px;
    text-align: right;
  }
}
