<% followers = Following.where(:followable_type => target.class.name, :followable_id => target.id).map(&:user) %>

<div class="well">
  <h3><%= t(current_user == target ? "self_header" : "header", :scope => "followers", :name => target.name) %>
    <% if followers.any? %>
      <%= "(#{followers.count})" %>
    <% end %>
  </h3>

  <div class="followers-box">
    <% followers.each do |user| %>
      <%= link_to(image_tag(user.avatar_url(:thumbnail), :alt => user.at_name, :title => user.at_name), user) %>
    <% end %>
  </div>

  <% if current_user %>
    <%= invitation_button(:follow, target, {:label => t("player.invite_fan.button") }) %>
  <% end %>
</div>
