<li><%= link_to "Manage Leagues", leagues_path %></li>
<li><%= link_to "Manage Locations", locations_path %></li>
<li><%= link_to "Manage Tournaments", tournaments_path %></li>
<li><%= link_to "Manage Kiosk Mode", admin_kiosk_path %></li>
<li class="divider"></li>
